.vscode
dist
test
.dockerignore  
node_modules    
npm-debug.log  
Dockerfile      
.git           
.gitignore      
.npmrc         
.env-*          
.github         
*.md             
.eslintrc.js
.prettierrc.
*.key.json



